
# Created by https://www.toptal.com/developers/gitignore/api/django,pycharm
# Edit at https://www.toptal.com/developers/gitignore?templates=django,pycharm

### Django ###
*.log
*.pot
*.pyc
*.xml
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/.idea
/static

